<form method="post" action="/processFive">
    a : <input type="text" name="txt1"/>
    b : <input type="text" name="txt2"/>
    c : <input type="text" name="txt3"/>
    d : <input type="text" name="txt4"/>
    e : <input type="text" name="txt5"/>
    <input type="submit">
</form>